<h2>New job form</h2>
<form #jobForm="ngForm" (ngSubmit)="createJob(jobForm)">
  <label for="customers">Customers</label>
  <select name="customers" required #customers="ngModel" ngModel placeholder="Please select" [(ngModel)]="newJob.customer">
    <option [ngValue]="null" selected>Please select</option>
    <option *ngFor="let customer of customerList" [ngValue]="customer">{{ customer.name }}</option>
  </select>
  <small *ngIf="customers.invalid && (customers.dirty || customers.touched)">Please select a customer</small>

  <label for="engineer">Engineer</label>
  <select name="engineer" required #engineer="ngModel" ngModel placeholder="Please select" [(ngModel)]="newJob.engineer">
    <option [ngValue]="undefined" selected>Please select</option>
    <option *ngFor="let engineer of engineers">{{ engineer }}</option>
  </select>
  <small *ngIf="engineer.invalid && (engineer.dirty || engineer.touched)">Please select an engineer</small>

  <label for="when">When</label>
  <input type="date" name="when" ngModel required #when="ngModel" [(ngModel)]="newJob.when" />
  <small *ngIf="when.invalid && (when.dirty || when.touched)">Please select a valid date</small>
  <button type="submit" [disabled]="jobForm.invalid">Add Job</button>
</form>

<h2>Jobs list</h2>
<table spacing="0">
  <thead>
    <tr>
      <th>Engineer</th>
      <th>When</th>
      <th>Customer name</th>
      <th>Customer type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let job of jobs">
      <td>{{ job.engineer }}</td>
      <td>{{ job.when | date: 'shortDate' }}</td>
      <td>{{ job.customer.name ? job.customer.name : 'Unknown' }}</td>
      <td>{{ job.customer.type }}</td>
      <td>
        <a [routerLink]="['/job', job.jobId]">Open</a>
      </td>
    </tr>
  </tbody>
</table>
